.header{
  margin-top: 10px;
  font-weight: bold;
  font-size: large;
  text-align: center;
}

.container-wrapper{
  height: 100%;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}


.button-container {
  width: 600px;
  text-align: center;
  padding-bottom: 10px;
}

.input-container {
  align-self: flex-end;
  align-items: stretch;
  width: 100%;
  text-align: center;
}

form{
  min-width: 400px;
  padding: 0.5rem 2rem 1rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
